.panel-content {
  h3 {
    font-weight: bold;
  }
}

.admins-list-container {
  padding: 3.5rem 0 3.5rem 0;
  h5 {
    color: var(--bs-text-black-color);
    font-weight: bold;
    margin-bottom: 1.5rem !important;

    svg {
      width: 25px;
      height: 25px;
      color: #2094f3;
    }
  }
}
.admin-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--inputs-bg-color);
  margin-bottom: 1rem !important;
  border-right: 4px solid #2094f3;

  .admin-info {
    display: block;
    p {
      color: var(--bs-text-black-color);
      margin-bottom: 10px !important;
    }
  }

  .admin-img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow);
    border: 3px solid var(--primary-lighter);
    transition: all 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }
}

.admin-info .manage-btns-container {
  position: relative;
  top: 0%;
  left: 0%;
  margin-top: 1rem !important;
}

@media (max-width: 480px) {
  .admins-list-container {
    h5 {
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  .admin-list-item {
    .admin-img {
      width: 100px !important;
      height: 100px !important;
    }
  }
}
