.persian-calendar {
  min-width: 100%;
  margin: 0 auto;
  direction: rtl;
  text-align: center;
  padding: 3rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.calendar-title {
  text-align: start;
  font-size: 18px;
  color: var(--bs-text-gray-color);
  padding-bottom: 1rem;
}
.calendar-title b {
  color: var(--bs-color);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 1rem;
  background-color: var(--bs-color);
  border-radius: 1rem 1rem 0 0;
}

.calendar-body {
  box-shadow: var(--box-shadow);
  padding-bottom: 2rem;
  border-radius: 0 0 1rem 1rem;
}

.month-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 1.5rem 0;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.day.selectable:hover {
  background-color: #e9ecef;
}

.day.selected {
  background-color: var(--bs-color);
  color: white;
}
.day.selected:hover {
  background-color: #077bf7; /* Darker shade for hover effect */
}

.day.not-selectable {
  color: #adb5bd;
  cursor: not-allowed;
}

.empty {
  visibility: hidden;
}

.changeMonth-btn {
  border: none;
  border-radius: 50%;
  font-size: 1.2em;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.changeMonth-btn svg {
  width: 100%;
}

.changeMonth-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.selected-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}

.selected-date {
  min-width: max-content;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
}
