.main-container {
  background-color: var(--bs-color-bg);
  width: 100%;
  padding: 0%;
  position: relative;
  margin: 4rem 0 !important;
}
.team-container {
  position: relative;
  z-index: 10;
  height: 500px;
  width: 100%;
  margin: 3rem auto !important;
  padding: 0;
}
.team-top-box {
  width: 100%;
  height: 150px;
  border-radius: 0 0 50% 50%;
  background-color: #fff;
  position: absolute;
  top: 0%;
}
.team-bottom-box {
  width: 100%;
  height: 150px;
  border-radius: 50% 50% 0 0;
  background-color: #fff;
  position: absolute;
  bottom: 0%;
}

.team-title {
  color: var(--bs-title-gray-color);
  font-size: var(--title-fontsize);
  font-family: "Vazir-Bold";
  font-weight: bold;
  position: relative;
  z-index: 2;
  text-align: center;
}
.team-title span {
  color: var(--bs-color);
  font-size: var(--title-fontsize);
  font-family: inherit;
  font-weight: inherit;
  text-align: start;
}
.team-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 20%;
  justify-self: center;
  margin: 0 auto !important;
}

.member-info {
  padding: 1rem 0;
}

.team-card {
  width: 300px;
  height: 350px;
  border-radius: 1rem;
  border: 1px solid var(--bs-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.animated {
  animation: card-anime1 1s ease-out;
}

@keyframes card-anime1 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes card-anime2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.card-top-line {
  position: absolute;
  top: 0%;
  align-self: center;
  background-color: var(--bs-color);
  width: 50%;
  height: 3px;
  border-radius: 1rem;
}

.team-description {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.card-text-title {
  font-weight: bold;
  color: var(--bs-title-gray-color);
}
.card-text-subtitle {
  font-size: var(--subtitle-fontsize);
  color: var(--bs-title-gray-color);
}

.no-team-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 7rem 0;
  p {
    font-size: 13px;
  }
}
