.select-box-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.select-box-label {
  font-size: 18px;
  color: var(--bs-text-gray-color);
}
.select-box-label b {
  color: var(--bs-color);
}
.select-box {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 1rem;
  background-color: var(--inputs-bg-color);
  color: var(--bs-text-gray-color);
  font-size: var(--subtitle-fontsize);
  cursor: pointer;
}
.select-box:focus {
  border: 2px solid var(--bs-color);
}
.select-box option {
    cursor: pointer;
}
.default-option {
  cursor: not-allowed !important;
}
