.services-list {
  width: max-content;
  padding: 0;
  border-radius: 9px;
  box-shadow: var(--box-shadow);
  background-color: white;
  position: fixed;
  z-index: 1001;
  top: 80px;
}
.services-item {
  padding: 0;
}

.services-item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 24px;
  font-size: 14px;
}
.services-item a:hover {
  background-color: var(--bs-color-bg);
  color: white;
  transition: all 0.3s ease-in-out;
}
