.banner-container {
  height: 100vh;
  position: relative;
  background-image: url("/images/banner-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner-container > * {
  position: relative;
  z-index: 10;
}
.color-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(255, 254, 254, 0.912);
}

.banner-row {
  height: 100%;
  margin: 0 auto !important;
}
.banner-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 100%;
  padding: 6rem 0rem 3rem 0;
}
.banner-text {
  font-size: 24px;
  color: var(--bs-color);
  padding-bottom: 1rem;
}
.banner-title {
  font-size: var(--title-fontsize);
  color: var(--bs-text-black-color);
  font-family: "Vazir-Bold";
  font-weight: 600;
  padding-bottom: 1rem;
}
.banner-subtitle {
  width: 80%;
  font-size: var(--subtitle-fontsize);
  color: var(--bs-text-gray-color);
  padding-bottom: 1rem;
  text-align: justify;
}

.banner-address {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.banner-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-img-container img {
  width: 70%;
  object-fit: cover;
  border-radius: 50%;
  background: none !important;
}

.banner-features {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}