name: Deploy
on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4.2.1

      - name: Delete Previous Process Silently
        continue-on-error: true
        run: pm2 delete shahrpitaj

      - name: Install Dependencies
        run: npm i

      - name: Build
        run: npm run build

      - name: Start a New Process
        run: pm2 start build/app.js --name shahrpitaj

      - name: Create Deploy Folder
        run: mkdir -p /var/www/shahrpitaj.ir/

      - name: Save Current Procces List
        run: pm2 save
