name: Deploy Backend

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.1

      - name: Install backend dependencies
        run: |
          cd shahrpitaj.ir-backend
          npm install --production

      - name: Restart backend with PM2
        run: |
          cd shahrpitaj.ir-backend
          pm2 restart shahrpitaj-backend || pm2 start app.js --name shahrpitaj-backend
          pm2 save
