name: Deploy Frontend

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build frontend
        run: npm run build

      - name: Deploy build to nginx directory
        run: |
          rm -rf /var/www/shahrpitaj.ir/*
          cp -r dist/* /var/www/shahrpitaj.ir/

      - name: Fix permissions
        run: |
          chown -R www-data:www-data /var/www/shahrpitaj.ir
          chmod -R 755 /var/www/shahrpitaj.ir
